.input-field-Container{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateX('angle');
    -webkit-transform: rotateX('angle');
    -moz-transform: rotateX('angle');
    -ms-transform: rotateX('angle');
    -o-transform: rotateX('angle');
}
 .input-field-Container input{
    width: 98%;
    height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 4px 2px #12121213;
}
.input-title,.input-error{
  font-size: smaller;
}
.input-error{
    color: red;
}