.input-field-Container{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
}
input{
    width: 98%;
    height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 2px 2px 10px 2px #1212126e;
}
.input-title,.input-error{
  font-size: smaller;
}
.input-error{
    color: red;
}