.search-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:white;
    height: 35px;
    gap:10px;
    border:solid 2px #12121271;
    box-shadow: 1px 1px 4px 2px #12121273;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.search-container input{
    height: 30px;
    border: none;
    text-indent: 4px;
    width: 93%;
    outline: none;
}
.icon{
    margin-right: 8px;
    cursor: pointer;
    color: #1212127e;
}

.icon:hover{
    transition: all 0.7s;
    color: #121212;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}